*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  background: #71438f url(../images/runnable-logo.svg) no-repeat;
  background-position: 1em;
  background-size: 10em;
  text-align: right;
  h1 {
    display: inline-block;
    padding: 0 1.5em;
  }
  a {
    display: inline-block;
    margin: 0.6em;
    padding: 0.6em;
    color: #f9f9f9;
    text-decoration: none;
    border-radius: 3px;
    &.active,
    &:hover {
      /*color: #40135D;*/
      color: #f9f9f9;
      background-color: #BA9CCD;
    }
  }
}

section {
  padding: 2em 5em;
  text-align: center;
  font-family: -apple-system,"Helvetica Neue","Segoe UI",sans-serif;
  font-feature-settings: 'kern';
  font-size: 24px;
  font-weight: 300;
  line-height: 1.6;
  min-height: 80vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

section h2 {
  font-size: 48px;
  font-weight: 300;
  margin: 0;
}

.content {
  background: rgba(249,249,249,0.5);
}

.splash {
  background: url(../images/runnabear-jumping.png) no-repeat;
  background-position: 50% 70%;
}