*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

section {
  padding: 2em 5em;
  text-align: center;
  font-family: -apple-system,"Helvetica Neue","Segoe UI",sans-serif;
  font-feature-settings: 'kern';
  font-size: 24px;
  font-weight: 300;
  line-height: 1.6;
  min-height: 80vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

section h2 {
  font-size: 42px;
  font-weight: 300;
  margin: 0;
}

.content {
  background: rgba(249,249,249,0.5);
}

.splash {
  background: url(../images/runnabear-jumping.png) no-repeat;
  background-position: 50% 70%;
}
