*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: rgba(158,109,158,1);
  margin: 0;
  padding: 0;
}

section {
  padding: 2em 5em;
  text-align: center;
  font-family: -apple-system,"Helvetica Neue","Segoe UI",sans-serif;
  font-feature-settings: 'kern';
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6;
  min-height: 80vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

section h2 {
  font-size: 3em;
  font-weight: 300;
  margin: 0;
}

.content {
  color: rgba(255,255,255,0.75);
}

.splash {
  background: url(../images/runnabear-jumping.png) no-repeat;
  background-position: 50% 70%;
}

.info {
  padding: 0;
  min-height: 0;
}

.info p {
  font-size: 0.8em;
  line-height: 1;
}
